@import '~material-design-icons/iconfont/material-icons.css';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    /* font-family:Roboto,微軟正黑體,sans-serif; */
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--css reset end */

/*-- 全域 border box */
＊,*:after,*:before{
    box-sizing: border-box;
  }

/* rwd img css，可當作是 CSS Reset */

img{
	max-width: 100%;
	height: auto;
	display: block; /*清除 img 下面留白  */
}
  
/* 沒選擇地區時，footer 固定於底部 */
.App{
    min-height:100vh;
    /* display:grid;
    grid-template-rows: 580px auto 100px; */
}

/*首頁入口 navbar */

.navbar{
    display: flex;
    justify-content:flex-end;
    padding-right: 30px;
}

.navbar a{
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    color:#ede9e9;
}

.navbar a:hover{
    color: #262d90;
    font-weight: bold;    
}

.nav-item i{
    padding-right: 5px;
    font-size: 25px;
} 
.nav-item p{
    font-size: 22px;
} 

/* hover 出現的下底線樣式如果直接寫在 .nav-item p:hover 會影響其他元素和 h1 的位置 */
.nav-item p:hover span{
    padding-bottom: 8px;
    border-bottom:  2px solid #262d90;
}

/* .nav-item p:focus span{
    padding-bottom: 8px;
    border-bottom:  2px solid #262d90;
} */

.nav-item p:hover{
    font-size: 23px;
    /* padding-bottom: 8px;
    border-bottom:  2px solid #262d90; */
}

/* .nav-item p:focus{
    font-size: 23px;
} */

/* active 待研究 */

/* .active a{
    color: #262d90;
    font-weight: bold;
}

.active p{
    font-size: 23px;
}

.active span{
    padding-bottom: 8px;
    border-bottom:  2px solid #262d90;

} */
.navbar .activeColor{
    color: #262d90;
    font-weight: bold;  
}
.navbar .activeSize{
    font-size: 23px;
}
.navbar .activeLine{
    padding-bottom: 8px;
    border-bottom:  2px solid #262d90;
}
.nav-item .material-icons{
    display: flex;
    /* flex-direction: column;
    align-items: center; */
}

/* header */
header{
    margin-bottom: 200px;
}
.banner{
    height: 380px;
    background-image: url("../images/Hero.png");
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
}
.container{
    max-width: 1000px;
    margin: 0 auto;  
    text-align: center;
}

header h1{
    /* padding-top: 89px; */
    padding-top: 22px;
    /* font-family: 'PingFangTC-Regular'; */
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 3.89px;
}
header select{
    margin-top: 96px;
    width: 452px;
    height: 48px;
    color: #000;
    font-size: 18px;
    line-height: 21px;
    background-color: rgba(255, 255, 255, 0.70);
    border: 3px solid #FFFFFF;
}

.menu{
    margin: 0 auto;
    margin-top: 65px;
    width: 800px;
    height: 112px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,0.20);
    /* box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20); */
    border-radius: 5px;
}
.menu .title-menu{
    padding: 20px 0 0 26px;
    /* font-family: 'AppleSystemUIFont'; */
    font-size: 20px;
    line-height: 21px;
    color: #000000;
    text-align: left;
    margin-bottom:18px;
    font-weight: bolder;
}

/* 先前為了把 BS 的樣式蓋掉，才加上 .buttonList li */
.buttonList li button{
    margin-right: 23px;
    width: 130px;
    height: 42px;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    border: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    /* border: 1px solid transparent; */
    /* user-select: none; */
    outline: none;
}

.buttonList li button:hover{
    filter: saturate(200%);
    color: #000000;
    font-weight:bold ;
    transition: all 0.3s;  
}

.buttonList li button:focus{
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    color: #000000;
    font-weight:bold ;
    filter: saturate(200%);
    font-size: 23px;
}

.buttonList{
    display: flex;
    justify-content: center;
}
header .icon-menu{
    margin: 49px auto;
    padding-top: 9px;
    /* padding-top: 11px; */
    width: 900px;
    height: 26px;
    background-image: url("../images/icons_down.png");
    background-repeat: no-repeat;
    /* background-position: 428px center; */
    background-position: center; 
}
header hr{  
    border: 1px dashed #559AC8;  
}

/* main */

.main .title-main{
    font-size: 36px;
    color:#262d90;
    /* color: #8A82CC; */
    margin-bottom: 24px;
}
.main .title-default{
    font-size: 36px;
    color:#a09d9d;
    /* color:#9c9b9b; */
    margin-bottom: 150px;
}
/* .main .title-myfavorite{
    font-size: 36px;
    color:#f26a6a;
    margin-bottom: 24px;
} */

/* card 裡面中的 我的最愛 icon */

.list-card a{
    background-color: #f26a6a;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    position:absolute;
    text-decoration: none;
    right: 8px;
    top: 10px;
}

.list-card a i{
    color:#FFFFFF;
    position:absolute;
    right: 5px;
    top: 6px;
}
.list-card a:hover{
    background-color: #ec5151;
    width: 40px;
    height: 40px;
    font-size: 30px;
}
/* Card 的資料 */
.main .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main .list-card{
    border:1px solid rgba(164, 201, 241, 0.25);
    /* border:1px solid rgb(113 114 115 / 25%); */
    margin-bottom: 40px;
    width: 464px;
    text-align: left;
    background: #FFFFFF;
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    box-shadow: 0 3px 3px 0px rgba(0,0,0,0.20);
    position: relative;

}
/* body{
    background-color: #F5F5F5;
} */

.main .list-card:hover{
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 5px 8px 0px rgba(0,0,0,0.20);
    /* box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.30); */
    background-color: #efedfd;
}

.list-card .img{
    width: 464px;
    height: 155px;  
    background-repeat: no-repeat;
    background-position: center;
    background-size: 464px auto;
    color: #FFFFFF;
}
.img .img-title{
    padding-top: 103px;
    width: 464px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.54) 100%);
}

.title-24px{
    padding-left: 22px;
    font-size: 24px;
}
.title-16px{
    padding-right: 22px;
    font-size: 16px;
}
.content-card{
    padding:35px 24px 15px;
    /* position: relative; */
}
.content-card p{
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.content-card img{
    padding-right: 7px;
}

.card_down_area {
    display: flex;
    justify-content: space-between;
}

.goTop{
    /* display:block; */
    display: none;
    bottom:140px;
    right:28px;
    position:fixed;
}

.goTop:hover{
    cursor: pointer;
    background-color: #555;
}

.page {
    display: flex;
    justify-content: center;
}
.page li{
    /* border:1px solid; */
    width:40px;
    line-height:40px;
    /* text-align: center; */
    /* margin:10px; */
    font-size:16px;
}

.page a {
    text-decoration: none;
    color: #4A4A4A;
    display: block;
}

.page a:hover{
    background: #cecbee;
    /* color:white; */
}

.page a:focus{
    /* background: #262d90; */
    background: #8A82CC;
    color:white;
}

.page .active{
    /* background: #262d90; */
    background: #8A82CC;
    color:white;
}
.disable{
    color: grey;
    pointer-events: none; 
    /* padding: 5px 7px;   */
}

.content{
    margin-bottom: 30px;
}
/* footer */
footer{
    /* background:#8A82CC; */
    background: #559AC8;
    text-align: center;
    color: #FFFFFF;
    padding-top:35px;
    padding-bottom: 18px;
}
footer p{
    font-size: 20px;
    margin-bottom: 15px;
}

.pStyle{
    color:#dfc878;
}

.fz-10{
    font-size:10px;
}

.purple{
    background:#8A82CC;
}

.orange{
    background:#FFA782;
}

.yellow{
    background:#F5D105;
}

.blue{
    background:#559AC8;
}

.d-none{
    display: none;
}